
body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}

span{
    color: rgb(165, 42, 42);
}
h1{
    font-size: 40px;
}
.flexcontainer{
    display: flex;
}
.half{
    width: 50%;
}
.imghalf img{
    width: 60%;
    justify-content: center;
}
.hire{
    text-decoration: none;
    /* background-color: cadetblue; */
    background-image: linear-gradient(green, red);
    font-weight: bolder;
    color: wheat;
    padding: 5px;
    border-radius: 3px;
}

.dreambg{
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.expshadow{
    box-sizing: border-box;
    box-shadow: 10px 10px 15px green;
    padding: 40px;
    margin: 10px;
    margin-bottom: 20px;
}
#fs{
    border-left: 10px solid rgba(138, 5, 5, 0.233);
}

#ms{
    border-left: 10px solid rgba(45, 5, 138, 0.233);
}

footer p{
    text-align: center;
}