
body{
    font-family: 'Hind Siliguri', sans-serif;
}
.top-banner{
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}

span{
    color: rgb(165, 42, 42);
}
h1{
    font-size: 40px;
}
section{
    display: flex;
}
.half{
    width: 50%;
}
.imghalf img{
    width: 60%;
    justify-content: center;
}
.hire{
    text-decoration: none;
    /* background-color: cadetblue; */
    background-image: linear-gradient(green, red);
    font-weight: bolder;
    color: wheat;
    padding: 5px;
    border-radius: 3px;
}

.dreambg{
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

